[
  {global, [{name,node_cert},    {value, "_SWM_SPOOL_/secure/node/cert.pem"}]},
  {global, [{name,node_key},     {value, "_SWM_SPOOL_/secure/node/key.pem"}]},
  {global, [{name,cluster_cert}, {value, "_SWM_SPOOL_/secure/cluster/cert.pem"}]},

  {grid,
    [
      {id, "id-grid"},
      {name, "grid"},
      {state, up},
      {clusters, ["id-cluster1"]},
      {manager, "ghead@_HOSTNAME_"}
    ]
  },

  {cluster,
    [
      {id, "id-cluster1"},
      {name, "cluster1"},
      {state, up},
      {manager, "chead1@_HOSTNAME_"},
      {partitions, ["id-on-prem-partition1"]},
      {scheduler, 2},
      {comment, "cluster1"}
    ]
  },

  {node,
    [
      {id, "id-node-ghead"},
      {name, "ghead"},
      {host, "_HOSTNAME_"},
      {api_port, 10001},
      {parent, "ghead"},
      {state_power, down},
      {state_alloc, stopped},
      {roles, [1]},
      {subdivision, grid},
      {subdivision_id, "id-grid"},
      {comment, "Grid head node"}
    ]
  },
  {node,
    [
      {id, "id-node-chead1"},
      {name, "chead1"},
      {host, "_HOSTNAME_"},
      {api_port, 10011},
      {gateway, "172.28.128.1"},
      {parent, "ghead"},
      {state_power, down},
      {state_alloc, stopped},
      {roles, [2]},
      {subdivision, cluster},
      {subdivision_id, "id-cluster1"},
      {comment, "Cluster head node"}
    ]
  },


  {user,
    [
      {id, "1bd1e65d-a629-400d-9ab9-34603f70114d"},
      {name, "demo1"}
    ]
  },

  {account,
    [
      {id, "a02bd1ce-60cb-11e8-a356-172ec08db3e9"},
      {name, "demo1"},
      {admins, ["1bd1e65d-a629-400d-9ab9-34603f70114d"]}
    ]
  }
].
