[
  {global, [{name,node_cert},    {value, "_SWM_SPOOL_/secure/node/cert.pem"}]},
  {global, [{name,node_key},     {value, "_SWM_SPOOL_/secure/node/key.pem"}]},
  {global, [{name,cluster_cert}, {value, "_SWM_SPOOL_/secure/cluster/cert.pem"}]},

  {grid,
    [
      {id, "id-grid"},
      {name, "grid"},
      {state, up},
      {clusters, ["id-cluster1"]},
      {manager, "ghead@_HOSTNAME_"}
    ]
  },

  {node,
    [
      {id, "id-node-ghead"},
      {name, "ghead"},
      {host, "_HOSTNAME_"},
      {api_port, 10001},
      {parent, "ghead"},
      {state_power, down},
      {state_alloc, stopped},
      {roles, [1]},
      {subdivision, grid},
      {subdivision_id, "id-grid"},
      {comment, "Grid head node"}
    ]
  }
].
