[
  {partition,
    [
      {id, "id-on-prem-partition1"},
      {name, "on-prem-part1"},
      {state, up},
      {manager, "phead1@_HOSTNAME_"},
      {nodes, ["id-on-prem-node001",
               "id-on-prem-node002",
               "id-on-prem-node003"
      ]},
      {partitions, []},
      {subdivision, cluster},
      {subdivision_id, "id-cluster1"},
      {comment, "partition 1"}
    ]
  },

  {node,
    [
      {id, "id-on-prem-phead1"},
      {name, "phead1"},
      {host, "_HOSTNAME_"},
      {api_port, 10110},
      {parent, "chead1"},
      {state_power, up},
      {state_alloc, online},
      {roles, [3]},
      {subdivision, partition},
      {subdivision_id, "id-on-prem-partition1"},
      {resources, [ {resource, [{name, "cpu"}, {count, 16}]} ] },
      {comment, "On prem part mgr 1"}
    ]
  },
  {node,
    [
      {id, "id-on-prem-node001"},
      {name, "node001"},
      {host,"_HOSTNAME_"},
      {api_port,10111},
      {parent, "phead1"},
      {state_power,down},
      {state_alloc,stopped},
      {roles,[4]},
      {subdivision,partition},
      {subdivision_id, "id-on-prem-partition1"},
      {resources, [ {resource, [{name, "cpu"}, {count, 16}]} ] },
      {comment, "On prem compute node 1"}
    ]
  },
  {node,
    [
      {id, "id-on-prem-node002"},
      {name, "node002"},
      {host, "_HOSTNAME_"},
      {api_port, 10112},
      {parent, "phead1"},
      {state_power, up},
      {state_alloc, stopped},
      {roles, [4]},
      {subdivision, partition},
      {subdivision_id, "id-on-prem-partition1"},
      {resources, [ {resource, [{name, "cpu"}, {count, 16}]} ] },
      {comment, "On prem compute node 2"}
    ]
  },
  {node,
    [
      {id, "id-on-prem-node003"},
      {name, "node003"},
      {host, "_HOSTNAME_"},
      {api_port, 10113},
      {parent, "phead1"},
      {state_power, down},
      {state_alloc, stopped},
      {roles, [4]},
      {subdivision, partition},
      {subdivision_id, "id-on-prem-partition1"},
      {resources, [ {resource, [{name, "cpu"}, {count, 16}]} ] },
      {comment, "On prem compute node 3"}
    ]
  },

  {user,
    [
      {id, "1bd1e65d-a629-400d-9ab9-34603f70114d"},
      {name, "demo1"}
    ]
  },

  {account,
    [
      {id, "a02bd1ce-60cb-11e8-a356-172ec08db3e9"},
      {name, "demo1"},
      {admins, ["1bd1e65d-a629-400d-9ab9-34603f70114d"]}
    ]
  }
].
