[
  {global, [{name,node_cert},    {value, "_SWM_SPOOL_/secure/node/cert.pem"}]},
  {global, [{name,node_key},     {value, "_SWM_SPOOL_/secure/node/key.pem"}]},
  {global, [{name,cluster_cert}, {value, "_SWM_SPOOL_/secure/cluster/cert.pem"}]},

  {cluster,
    [
      {id, "id-cluster1"},
      {name, "cluster1"},
      {state, up},
      {manager, "node@_HOSTNAME_"},
      {partitions, ["id-local-partition1"]},
      {scheduler, 2},
      {comment, "cluster1"}
    ]
  },

  {partition,
    [
      {id, "id-local-partition1"},
      {name, "local"},
      {state, up},
      {manager, "id-node-skyport@_HOSTNAME_"},
      {nodes, ["id-node-skyport"]},
      {partitions, []},
      {subdivision, cluster},
      {subdivision_id, "id-cluster1"},
      {comment, "Local partition for test and debug purposes"}
    ]
  },

  {node,
    [
      {id, "id-node-skyport"},
      {name, "node"},
      {host, "_HOSTNAME_"},
      {api_port, 10001},
      {gateway, "172.28.128.1"},
      {state_power, down},
      {state_alloc, stopped},
      {roles, [2]},
      {subdivision, cluster},
      {subdivision_id, "id-cluster1"},
      {resources, [{resource, [{name, "cpus"}, {count, 1}]}]},
      {comment, "Local node for skyport management"}
    ]
  },

  {account,
    [
      {id, "a02bd1ce-60cb-11e8-a356-172ec08db3e9"},
      {name, "_USER_NAME_"},
      {admins, ["_SWM_USER_ID_"]},
      {users, ["_SWM_USER_ID_"]},
      {comment, "Account for local openstack setup (development)"}
    ]
  },

  {account,
    [
      {id, "587ab32a-7159-11ec-b243-77dcda9e2ad8"},
      {name, "_USER_NAME_"},
      {admins, ["_SWM_USER_ID_"]},
      {users, ["_SWM_USER_ID_"]},
      {comment, "Account for running jobs on localhost (development)"}
    ]
  },

  {remote,
    [
      {id, "10581b66-60da-11e8-a2a8-f7a0311d6e6a"},
      {name, "openstack"},
      {account_id, "a02bd1ce-60cb-11e8-a356-172ec08db3e9"},
      {kind, openstack},
      {server, "_HOSTNAME_"},
      {port, 8444}
    ]
  },

  {remote,
    [
      {id, "30e8d832-6fd8-11ec-b1a1-274cff0a9e39"},
      {name, "localhost"},
      {account_id, "587ab32a-7159-11ec-b243-77dcda9e2ad8"},
      {kind, localhost},
      {server, "_HOSTNAME_"},
      {port, 8444}
    ]
  },

  {credential,
    [
      {id, "b2c48404-63d0-11e8-8940-ef989b509785"},
      {remote_id, "10581b66-60da-11e8-a2a8-f7a0311d6e6a"},
      {tenant_name, "demo1"},
      {tenant_domain_name, "Default"},
      {username, "demo1"},
      {password, "demo1"},
      {key_name, "demo1"}
    ]
  },

  {credential,
    [
      {id, "04686650-6fed-11ec-bc2c-d364ca289467"},
      {remote_id, "30e8d832-6fd8-11ec-b1a1-274cff0a9e39"},
      {tenant_name, "dev"},
      {tenant_domain_name, "Default"},
      {username, "demo1"},
      {password, "demo1"},
      {key_name, "demo1"}
    ]
  }
].
