[
  {global, [{name,node_cert},    {value, "_SWM_SPOOL_/secure/node/cert.pem"}]},
  {global, [{name,node_key},     {value, "_SWM_SPOOL_/secure/node/key.pem"}]},
  {global, [{name,cluster_cert}, {value, "_SWM_SPOOL_/secure/cluster/cert.pem"}]},

  {cluster,
    [
      {id, "id-cluster1"},
      {name, "cluster1"},
      {state, up},
      {manager, "node@_HOSTNAME_"},
      {partitions, ["id-local-partition1"]},
      {scheduler, 2},
      {comment, "cluster1"}
    ]
  },

  {partition,
    [
      {id, "id-local-partition1"},
      {name, "local"},
      {state, up},
      {manager, "node@_HOSTNAME_"},
      {nodes, ["id-node-skyport"]},
      {partitions, []},
      {subdivision, cluster},
      {subdivision_id, "id-cluster1"},
      {comment, "Local partition for test and debug purposes"}
    ]
  },

  {node,
    [
      {id, "id-node-skyport"},
      {name, "node"},
      {host, "_HOSTNAME_"},
      {api_port, 10001},
      {gateway, "172.28.128.1"},
      {state_power, down},
      {state_alloc, stopped},
      {roles, [2]},
      {subdivision, cluster},
      {subdivision_id, "id-cluster1"},
      {resources,
        [
          {resource, [{name, "cpus"}, {count, 1}]},
          {resource, [{name, "flavor"}, {count, 1}, {properties, [{value,"localhost"}]}]}
        ]
      },
      {comment, "Local node for skyport management"}
    ]
  },
  {node,
    [
      {id, "id-localhost-flavor"},
      {name, "localhost"},
      {state_power, down},
      {state_alloc, stopped},
      {subdivision, cluster},
      {subdivision_id, "id-cluster1"},
      {resources,
        [
          {resource, [{name, "cpu"}, {count, 1}]}
        ]
      },
      {is_template, true},
      {prices, #{"587ab32a-7159-11ec-b243-77dcda9e2ad8" => 0.0}},
      {comment, "Localhost flavor (for development purposes)"}
    ]
  },

  {account,
    [
      {id, "a02bd1ce-60cb-11e8-a356-172ec08db3e9"},
      {name, "openstack"},
      {admins, ["_SWM_USER_ID_"]},
      {users, ["_SWM_USER_ID_"]},
      {comment, "Account for local openstack setup (development)"}
    ]
  },

  {account,
    [
      {id, "587ab32a-7159-11ec-b243-77dcda9e2ad8"},
      {name, "localhost"},
      {admins, ["_SWM_USER_ID_"]},
      {users, ["_SWM_USER_ID_"]},
      {comment, "Account for running jobs on localhost (development)"}
    ]
  },

  {account,
    [
      {id, "c6ab520a-5667-11ef-a391-6ff2295e5617"},
      {name, "azure"},
      {admins, ["_SWM_USER_ID_"]},
      {users, ["_SWM_USER_ID_"]},
      {comment, "Account for azure setup"}
    ]
  },

  {remote,
    [
      {id, "bca38b6a-5667-11ef-94a4-374434d707f7"},
      {name, "azure"},
      {account_id, "c6ab520a-5667-11ef-a391-6ff2295e5617"},
      {kind, azure},
      {server, "_HOSTNAME_"},
      {port, 8444},
      {location, "eastus"},
      {runtime,
        #{
          swm_source => "ssh",
          ssh_pub_key => "ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEA7GA+EAxXl5e7P1FEQOxRwwGroxj4x9G0GKHipGcjaM3PFZ3mONNO7GI3rfK97gB3aRiopePZGYpOfzifq5nfLWvl7gq77UkQd+fZffxrkCprtaA8/VELMZLuvfeJS2PFiF/XugeMjgm+KYVVhL2nYhSuSVO7XCPOd4TmKIBdjvtlIfpMWkaDwZjz+uq4qsDfHBIC+iDXPajXG38Q3aXxQJ3wUhYiTC65gRYmP0a47cCyikudu8AgoCvsiBd6i9oBUucf9c3DzaU3TqakRlNbypMFBftiNIj1VTWVZ5524U8Dug/huESE03C1fdTzXjym2OtadhYaCPfYfLkU/WGUIQ== taras@iclouds.net"
        }
      }
    ]
  },

  {remote,
    [
      {id, "10581b66-60da-11e8-a2a8-f7a0311d6e6a"},
      {name, "openstack"},
      {account_id, "a02bd1ce-60cb-11e8-a356-172ec08db3e9"},
      {kind, openstack},
      {server, "_HOSTNAME_"},
      {port, 8444},
      {location, "local"},
      {runtime,
        #{
          swm_source => "ssh",
          ssh_pub_key => "ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEA7GA+EAxXl5e7P1FEQOxRwwGroxj4x9G0GKHipGcjaM3PFZ3mONNO7GI3rfK97gB3aRiopePZGYpOfzifq5nfLWvl7gq77UkQd+fZffxrkCprtaA8/VELMZLuvfeJS2PFiF/XugeMjgm+KYVVhL2nYhSuSVO7XCPOd4TmKIBdjvtlIfpMWkaDwZjz+uq4qsDfHBIC+iDXPajXG38Q3aXxQJ3wUhYiTC65gRYmP0a47cCyikudu8AgoCvsiBd6i9oBUucf9c3DzaU3TqakRlNbypMFBftiNIj1VTWVZ5524U8Dug/huESE03C1fdTzXjym2OtadhYaCPfYfLkU/WGUIQ== taras@iclouds.net"
        }
      }
    ]
  },

  {remote,
    [
      {id, "30e8d832-6fd8-11ec-b1a1-274cff0a9e39"},
      {name, "localhost"},
      {account_id, "587ab32a-7159-11ec-b243-77dcda9e2ad8"},
      {kind, localhost},
      {location, "local"},
      {server, "_HOSTNAME_"},
      {port, 8444}
    ]
  }
].
