[
  {global,    [{name, debug_level},                  {value,"0"},        {comment,""}]},
  {global,    [{name, http_port},                    {value,"8008"},     {comment,"Use this http port for REST API and webui"}]},
  {global,    [{name, collect_data_interval},        {value,"30000"},    {comment,"How often a heavy data will be prepared for delivery to remote hosts (in ms)"}]},
  {global,    [{name, floating_port_last},           {value,"50000"},    {comment,""}]},
  {global,    [{name, floating_port_begin},          {value,"50000"},    {comment,""}]},
  {global,    [{name, floating_port_end},            {value,"51000"},    {comment,""}]},
  {global,    [{name, floating_port_free},           {value,""},         {comment,""}]},
  {global,    [{name, conn_timeout},                 {value,"5000"},     {comment,"Time between connection retries in milliseconds"}]},
  {global,    [{name, conn_keep_alive},              {value,"5000"},     {comment,"Time between 'pings' in milliseconds"}]},
  {global,    [{name, node_ping_period},             {value,"15"},       {comment,"How often (in seconds) a node is pinged by other nodes"}]},
  {global,    [{name, pinger_period},                {value,"5"},        {comment,"How often (in seconds) pinger process checks if nodes are waiting to be pinged"}]},
  {global,    [{name, pull_config_timeout},          {value,"120000"},   {comment,""}]},
  {global,    [{name, db_timeout},                   {value,"15000"},    {comment,""}]},
  {global,    [{name, db_save_period},               {value,"30000"},    {comment,""}]},
  {global,    [{name, latency_trials},               {value,"8"},        {comment,""}]},
  {global,    [{name, srv_parallel_works},           {value,"2"},        {comment,""}]},
  {global,    [{name, srv_local_call_timeout},       {value,"60000"},    {comment,""}]},
  {global,    [{name, srv_max_restarts_count},       {value,"1"},        {comment,""}]},
  {global,    [{name, srv_max_restarts_period},      {value,"60"},       {comment,""}]},
  {global,    [{name, srv_exit_timeout},             {value,"20"},       {comment,""}]},
  {global,    [{name, sync_interval},                {value,"15000"},    {comment,"How often (in ms) wm_core checks that config should be sycned"}]},
  {global,    [{name, sync_timeout},                 {value,"10000"},    {comment,"Timeout for configuration synchronization (in ms)"}]},
  {global,    [{name, proc_start_timeout},           {value,"5000"},     {comment,"Timeout for starting os process (in ms)"}]},
  {global,    [{name, cont_type},                    {value,"docker"},   {comment,"Containerization technology type"}]},
  {global,    [{name, cont_host},                    {value,"localhost"},{comment,"Containerization technology daemon API host name"}]},
  {global,    [{name, cont_port},                    {value, 6000},      {comment,"Containerization technology daemon API port number"}]},
  {global,    [{name, cont_timeout},                 {value,"5000"},     {comment,"Timeout for calling containerization daemon (in ms)"}]},
  {global,    [{name, porter_path},                  {value,""},         {comment,"Alternative path to porter utility"}]},
  {global,    [{name, data_transfer_parallel_works}, {value,"2"},        {comment,"How many workers simultaneously will transfer job data to remote nodes"}]},
  {global,    [{name, relocation_interval},          {value,"15000"},    {comment,"How often (in ms) queued jobs relocation will be performed"}]},

  {scheduler, [{id,1},  {name,"grid_sched"},     {path,"_SWM_ROOT_/current/bin/swm-sched"}, {comment,"Grid level scheduler"}]},
  {scheduler, [{id,2},  {name,"cluster_sched"},  {path,"_SWM_ROOT_/current/bin/swm-sched"}, {comment,"Cluster level scheduler"}]},
  {scheduler, [{id,3},  {name,"part_sched"},     {path,"_SWM_ROOT_/current/bin/swm-sched"}, {comment,"Partition level scheduler"}]},

  {role,      [{id,1},  {name,"grid"},      {services,[1,2,3,4,7,8,9,10,11]}, {comment,"Grid Manager Role"}]},
  {role,      [{id,2},  {name,"cluster"},   {services,[1,2,3,5,7,8,9,10,11]}, {comment,"Cluster Manager Role"}]},
  {role,      [{id,3},  {name,"partition"}, {services,[3,6,7,10]},            {comment,"Partition Manager Role"}]},
  {role,      [{id,4},  {name,"compute"},   {services,[7,10,11]},             {comment,"Compute Node Role"}]},
  {role,      [{id,5},  {name,"login"},     {services,[8]},                   {comment,"Login Node role"}]},

  {service,   [{id,1},  {name,"scheduler"},  {modules, ["wm_scheduler", "wm_relocator"]},  {tables,[system,node]}, {comment,"Scheduler Service"}]},
  {service,   [{id,2},  {name,"http"},       {modules, ["wm_http"]},       {tables,[system,node]}, {comment,"HTTP Service"}]},
  {service,   [{id,3},  {name,"accounting"}, {modules, ["wm_accounting"]}, {tables,[system,node]}, {comment,"Accounting Service"}]},
  {service,   [{id,4},  {name,"grid"},       {modules, ["wm_grid"]},       {tables,[system,node]}, {comment,"Grid Control Service"}]},
  {service,   [{id,5},  {name,"cluster"},    {modules, ["wm_cluster"]},    {tables,[system,node]}, {comment,"Cluster Control Service"}]},
  {service,   [{id,6},  {name,"partition"},  {modules, ["wm_partition"]},  {tables,[system,node]}, {comment,"Partition Control Service"}]},
  {service,   [{id,7},  {name,"compute"},    {modules, ["wm_compute"]},    {tables,[system,node]}, {comment,"Compute Node Service"}]},
  {service,   [{id,8},  {name,"user"},       {modules, ["wm_user"]},       {tables,[system,node]}, {comment,"Submission Node Service"}]},
  {service,   [{id,9},  {name,"admin"},      {modules, ["wm_admin"]},      {tables,[system,queue,job,user,role,service,project]}, {comment,"Administration Service"}]},
  {service,   [{id,10}, {name,"monitoring"}, {modules, ["wm_mon"]},        {tables,[system,node]}, {comment,"Monitoring Service"}]},
  {service,   [{id,11}, {name,"container"},  {modules, ["wm_container"]},  {tables,[system,node]}, {comment,"Containerization Service"}]}
].
