[
    {kernel, [
        {inet_dist_listen_min, 50000},
        {inet_dist_listen_max, 50256},
        {inet_default_connect_options, [
            {nodelay, true}
        ]},

        {logger,
          [{handler, default, logger_std_h,
            #{level => info,
              config => #{file => "${SWM_LOG_DIR}/erlang.log"}}}
          ]
        }
    ]},

    {mnesia, [
        {dir, "${SWM_MNESIA_DIR}"}
    ]}
].

